#wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#value {
  text-align: right;
  height: 100%;
  font-size: 3.5rem;
}

#container {
  border-radius: 0.5em;
  padding-top: 2px;
  margin: 0 auto;
  width: 25rem;
  height: 36rem;
  background: #393e3e;
}

#res {
  font-size: 25px;
  margin: 2rem auto;
  width: 95%;
  height: 5rem;
  background: #d3e7a7;
  border-radius: 0.3em;
}

#btns button {
  width: 32%;
  margin: 2px;
  float: left;
  padding: 0;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  font-size: 1.25em;
  border: none;
  outline: none;
  font-weight: 900;
  border-radius: 0.3em;
}

#btn {
  color: brown;
}

button {
  background: #434949;
}

button:hover {
  background: #474d4d;
}

#btnClr,
#btnDel,
#btnEql {
  color: white;
}

#btnSum,
#btnSub,
#btnPoint,
#btnMul,
#btnDiv {
  color: red;
}
